{
  "extends": "standard",
  "plugins": [
    "standard",
    "promise",
    "html"
  ],
  "globals": {
    "ga": true,
    "Intercom": true
  },
  "rules": {
    "no-new": "off",
    "no-undef": "off"
  }
}
